# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build

# Environment Variables
.env
.env.local
.env.*.local

# Personal Images
/public/images/*.jpg
/public/images/*.png
/public/images/*.jpeg

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
